---
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Album'
}

import { getCollection } from 'astro:content'

import PhotoSwipe from '@/components/PhotoSwipe.astro'

export async function getStaticPaths() {
  const albums = await getCollection('albums')

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id
      },
      props: {
        album
      }
    }
  })

  return paths
}

const { album } = Astro.props
---

<PageLayout {frontmatter}>
  <div class="text-center">
    <h1 class="text-5xl font-bold">
      {album.data.title}
    </h1>
    <p class="my-4 text-xl">
      {album.data.description}
    </p>

    <PhotoSwipe imageFolder=`${album.id}` />

    <p class="my-4 text-center text-lg">
      <a href="/gallery/" class="hover:underline">View other albums</a>
    </p>
  </div>
</PageLayout>
